name: tests

on: push

jobs:
  tests:
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python_version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        include:
          - os: ubuntu-20.04
            python_version: "3.6"
          - os: windows-2019
            python_version: "3.6"
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Configure Python version
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}
          architecture: x64
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Run pytest
        run: |
          python -c "import locale; print('Preferred encoding:', locale.getpreferredencoding())"
          python -c "import sys; print('stdout encoding:', sys.stdout.encoding)"
          env
          python -m pytest -s wasabi

      - name: Run mypy
        run: python -m mypy wasabi

      - name: Test sdist
        run: python setup.py sdist
